::-moz-selection {
background:#e06d5e;
}
::selection {
background:#e06d5e;
}

.navbar .brand a:hover {
	color:#1BAC91;
}


ul#menu-main > li > a:hover {
	color: #fff;
}


ul#menu-main > li > a:focus,ul#menu-main > li > a:active, ul#menu-main > li > a.selected, ul#menu-main li a.selected:active    {
	color: #000;
}
#header-wrapper h1 span {
	color:#1BAC91;
}

#header-wrapper input[type=submit] {
	background: #1BAC91 !important;
}

#theme-form input[type=submit] {
	background: #1BAC91 !important;
}

.btn.btn-theme {
	background: #26c8aa !important;
}

/* blog */
.home-post .post-meta {
	background: #1BAC91;
}

/* com */
.tabbable ul.nav-tabs li.active a,.tabbable ul.nav-tabs li a:hover {
	color: #1BAC91;
}
.accordion .accordion-heading a.active {
	color: #1BAC91;
}

#tweet ul li a {
	color: #1BAC91;
}


/* works */
#filters ul li a:hover h5, #filters ul li a.active h5 {
	background: #1BAC91;
	border-color: #1BAC91;
}

.portfolio .portfolio-overlay {
	background: #1BAC91;
}

/* icon */
i.icon-bgdark:hover {
	background: #26c8aa;
}

i.icon-bgdark.active {
	background: #e06d5e;
}
/*my added styles*/
#mything{
	text-align: left;
	width: 300px;
	margin-left: 100px;
	color: #fff;
}
#myFace{
	/*width:60%;*/
}
.spacer.green, .section.green{
	background: #010a2f;
}
#intro{
	color: #fff;
	font-weight:bold;
	font-size: 40px;
}
.biotext{
	color: #fff;
	margin-bottom: 25px;
}
#downloadLinks{
	color: #fff;
	font-weight: bolder;
}
.flex-direction-nav{
	display: none;
}
.navbar-inner{
	background: rgba(2, 13, 51, 0.5) !important;
}
.large{
	color:white;
	margin-top: 25px;
}
nav{
	margin-top: 20px;
}
#newnav{
	background-color: pink ;
	z-index: 1000 !important;
}
.centered{
	text-align: center;
}
.centerer{
	text-align: center;
}

/*individual portfolio pages*/
.titles{
	color: #fff;
	font-weight: bold;
}
.linkText{
	color: #fff;
	font-weight: bold;
	text-decoration: underline;
}
.biotextClass{
	padding-left: 20px;
}
.indPortfolio{
	margin-left: 140px;
}
.picture-portfol{
	margin-left: 90px;
	margin-top: -30px;
}
.portpage-left{
	margin-left: -10px;
}
.blueGreen{
	background-color: #3e9390;
	color: white;
}
.blueGreen h4{
	color: white;
}
#fix{
	margin-left: 180px;
}
.yourquote{
	font-size: 46px;
	font-weight: 800;
	font-family: 'Open Sans' arial;
	line-height: 1.1em;
	color: white;
	margin-top: 25px;
}
.pushDown{
	margin-bottom:20px;
}
.contactMessage{
	font-size: 1.1em;
}
.guys{
	margin: 0 auto;
	overflow: auto;
}
.movedown{
	margin-top: 40px;
}
.movedown2{
	margin-top: 20px;
}
.trujilloImg{
	margin-top: 20px;
	margin-left:70px !important;

}
.centerRow{
	margin: 0 auto;
}
#photo-modal .modal-dialog
{
    text-align:center;
    display:table;
    padding: 0;
    margin-top: 30px;
		background-color: pink;
}
.picture-portfol{
	border: solid 2px white;
}
.noborder{
	border: none !important;
}

@media (max-width: 767px) {
	.offset4{
		margin-left: 0px !important;
	}
	.guys{
		margin-left: -30px ;
	}
	#intro{
		margin-left: -50%;
		text-align: center;
	}
	#middleDiv{
		/*overflow: auto;*/
		width: 70%;
		margin-left: 7%;
		text-align: center;
	}

	.biotext{
		width: 90%;
		margin-right: 90% !important;
		margin-left: -20% !important;
	}
	.img-circle{
		width: 40%;
	}
	#myFace{
		padding-top: 40px;
		margin: 0 auto;
	}
	.biotext{
		text-align: center;
		margin-right:
	}
	.service-box{
	}
	#fix{
		margin-left: -1%;
	}
}
@media (max-width: 979px) {
	html.csstransforms.csstransforms3d.csstransitions body div.navbar-wrapper div.navbar.navbar-inverse.navbar-fixed-top div.navbar-inner div.container{
		background:black;
	}

}
