#busbyintro,
#intro,
.headline {
    font-weight: 700;
    font-size: 40px
}

.flex-direction-nav,
.hiddendiv {
    display: none
}

::-moz-selection {
    background: #e06d5e
}

::selection {
    background: #e06d5e
}

.navbar .brand a:hover {
    color: #1BAC91
}

.img-circle {
    width: 60%
}

ul#menu-main>li>a:hover {
    color: #fff
}

ul#menu-main li a.selected:active,
ul#menu-main>li>a.selected,
ul#menu-main>li>a:active,
ul#menu-main>li>a:focus {
    color: #000
}

#header-wrapper h1 span,
#tweet ul li a,
.accordion .accordion-heading a.active,
.tabbable ul.nav-tabs li a:hover,
.tabbable ul.nav-tabs li.active a {
    color: #1BAC91
}

#header-wrapper input[type=submit],
#theme-form input[type=submit] {
    background: #1BAC91!important
}

.btn.btn-theme {
    background: #26c8aa!important
}

.home-post .post-meta,
.portfolio .portfolio-overlay {
    background: #1BAC91
}

#filters ul li a.active h5,
#filters ul li a:hover h5 {
    background: #1BAC91;
    border-color: #1BAC91
}

i.icon-bgdark:hover {
    background: #26c8aa
}

i.icon-bgdark.active {
    background: #e06d5e
}

#busby,
#mything {
    text-align: left;
    color: #fff
}

#intro {
    color: #fff
}
#myFace{
    margin-left:50%;
}
.section.green,
.spacer.green {
    background: #010a2f
}

#busbyintro,
.headline {
    color: #fff
}

.biotext {
    color: #fff;
    margin-bottom: 25px
}

#downloadLinks {
    color: #fff;
    font-weight: bolder
}

.linkText,
.titles {
    font-weight: 700;
    color: #fff
}

.navbar-inner {
    background: rgba(2, 13, 51, .5)!important
}

.large {
    color: #fff;
    margin-top: 25px
}

nav {
    margin-top: 20px
}

#newnav {
    background-color: pink;
    z-index: 1000!important
}

.centered,
.centerer {
    text-align: center
}

.hiddendiv {
    width: 100%;
    margin-left: 2%;
    margin-bottom: 30px;
    margin-top: 10px
}

.linkText {
    text-decoration: underline
}

.biotextClass {
    padding-left: 20px
}

.indPortfolio {
    margin-left: 8%
}

.picture-portfol {
    margin-left: 90px;
    margin-top: -30px
}

.portpage-left {
    margin-left: -10px
}

.blueGreen {
    background-color: #3e9390;
    color: #fff
}

.blueGreen h4 {
    color: #fff
}

#fix {
    margin-left: 180px
}

h6.greentext{
  padding-left: 37px;
  width: 120px;
}
.yourquote {
    font-size: 46px;
    font-weight: 800;
    font-family: 'Open Sans' arial;
    line-height: 1.1em;
    color: #fff;
    margin-top: 25px
}

.pushDown {
    margin-bottom: 20px
}

.contactMessage {
    font-size: 1.1em
}

.guys {
    margin: 0 auto;
    overflow: auto
}

.movedown {
    margin-top: 40px
}

.movedown2,
.trujilloImg {
    margin-top: 20px
}

.trujilloImg {
    margin-left: 70px!important
}

.centerRow {
    margin: 0 auto
}

#photo-modal .modal-dialog {
    text-align: center;
    display: table;
    padding: 0;
    margin-top: 30px;
    background-color: pink
}

.noborder {
    border: none!important
}

.offset4 {
    margin-left: 33%!important
}

.service-box h6 {
    font-family: 'Open Sans', sans serif!important;
    color: #328885!important
}

.service-box h6:hover {
    color: #fff
}

.icon-github:hover {
    background-color: #010a2f!important
}
